<html>
<head>
<title>accountpage_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
accountpage_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bAccountButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;22dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;22dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Account&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;278dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bHomePageButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;6dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;6dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;7dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Home&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/UpcomingText&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;110dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;19dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;17dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Date 01/01/2020&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;150dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/AccountText&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;110dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;19dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;207dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;207dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;130dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Name, details,etc&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;233dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;202dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/ProfilePhoto&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;139dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;95dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;217dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;217dp&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;82dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;160dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bFood&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;73dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;42dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Food&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;674dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bWorkout&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;75dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;91dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;91dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Workouts&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;97dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bCalendar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;68dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;43dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;174dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;174dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;677dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Calendar&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;183dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bCommunity&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;67dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;263dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;263dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;675dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Community&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;260dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;671dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bSettings&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;52dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;679dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Settings&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;343dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bChangeDetails&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;259dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;61dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;61dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;297dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Change details&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;73dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;329dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bCloseAccount&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;259dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;251dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Close account&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;73dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;514dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bSignOut&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;259dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;62dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;62dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;194dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Sign out&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;73dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;588dp&quot; </span><span class="s0">/&gt;</span>
<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>