<html>
<head>
<title>activity_calendar.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_calendar.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:apps</span><span class="s2">=&quot;https//schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:ignore</span><span class="s2">=&quot;NamespaceTypo&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bAccountButton2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;31dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;17dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Account&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;278dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/upcomingText&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;110dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;19dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;42dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;154dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;154dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Date 01/01/2020&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;150dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bHomePageButton2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;304dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;304dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;649dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Home&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>


    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bAddTime&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;124dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerVertical</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;69dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;69dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;462dp&quot;</span>

        <span class="s1">android:text</span><span class="s2">=&quot;Add Time&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;511dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bChangeWorkHours&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;124dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerVertical</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;108dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;108dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;512dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Submit&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;471dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bAddDate&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;124dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerVertical</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;210dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;210dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;458dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Add date&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;471dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Spinner</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bEventDropDown&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;249dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;249dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;113dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bFood&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;73dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;42dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;21dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Food&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bWorkout&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;75dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;91dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;91dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;21dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Workouts&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;97dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bCalendar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;68dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;43dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;182dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;182dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;31dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Calendar&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;183dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bCommunity&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;67dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;281dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;281dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;647dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Community&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;260dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;671dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bSettings&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;52dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>

        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;366dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;366dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;644dp&quot;</span>

        <span class="s1">android:text</span><span class="s2">=&quot;Settings&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;343dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;CalendarView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/calender&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;19dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;80dp&quot;</span><span class="s0">&gt;&lt;/CalendarView&gt;</span>

<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>