<html>
<head>
<title>homepage_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
homepage_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bAccountButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;33dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;17dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;17dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Account&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;278dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bHomePageButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;286dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;286dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;658dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Home&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;8dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/UpcomingText&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;110dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;19dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;42dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;154dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Date 01/01/2020&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;150dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;154dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/CalendarView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;161dp&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;55dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;225dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bFood&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;73dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;42dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;21dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Food&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bWorkout&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;75dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;91dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;91dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;21dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Workouts&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;97dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bCalendar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;68dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;43dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;172dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;172dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Calendar&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;183dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bCommunity&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;67dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;260dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;260dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;669dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Community&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;260dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;671dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bSettings&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;52dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;335dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;335dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;671dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Settings&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;343dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;673dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bSort&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;77dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;59dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;39dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Sort&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;278dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;184dp&quot; </span><span class="s0">/&gt;</span>
<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>