<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studirep">





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudiRep">



        <activity
            android:name=".CalendarActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CALENDAR" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountPageActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.FOOD" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddRecipeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ADDRECIPE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DETAIL" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FridgeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.FRIDGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkoutActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudiRep.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.WORKOUT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>